<ion-header>
  <ion-toolbar>
    <ion-title>Vista de Disco</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">id del Disco</ion-label>
      <ion-input type="text" #discoId></ion-input>
    </ion-item>
  </ion-list>
  <hr>
  <div *ngIf="disco!==null">
    id: {{ disco.id }}<br>
    Título: {{ disco.titulo }}<br>
    Intérprete: {{ disco.interprete }}<br>
    Año de publicación: {{ disco.anyoPublicacion }}<br>
  </div>
  <ion-button color="sucess" expand="block" (click)="mostrarDisco(discoId)">Mostrar</ion-button>
  <ion-button expand="block" routerLink="/home">Home</ion-button>
</ion-content>