table {
    width: 80%;
    padding: 10px;
}
.tableContainer{
    margin: auto;
    width: 60%;
    text-align: center;
    padding: 10px;
}
.even{
    background-color :rgb(121, 199, 245);
    color : black;
}